<html>

<head>
    <title>Webpack</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="financeApp" ng-controller="HomeCtrl as ctrl">
    <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="ctrl.buildToggler()">
                <md-icon md-svg-icon="assets/images/menu_white.svg"></md-icon>
            </md-button>
            <h2 flex md-truncate>Manager Finance</h2>
        </div>
    </md-toolbar>
    <section layout="row" class="app-size-full" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="1" ng-cloak>
            <div ng-show="ctrl.isSmall()">
                <md-toolbar class="md-theme-indigo">
                    <div class="md-toolbar-tools">
                        <h1 flex md-truncate>Manager Finance</h1>
                    </div>
                </md-toolbar>
            </div>

            <md-sidemenu>
                <md-sidemenu-button ng-click="ctrl.go('')">
                    <md-icon class="menu-icon">home</md-icon>Home</md-sidemenu-button>
                <md-sidemenu-button ng-click="ctrl.go('entrie')">
                    <md-icon class="menu-icon">account_balance_wallet</md-icon> Bank Control</md-sidemenu-button>
                <md-sidemenu-button href="#">
                    <md-icon class="menu-icon">account_balance</md-icon> Financial Control</md-sidemenu-button>
                </md-sidemenu-group>
            </md-sidemenu>
        </md-sidenav>
        <md-content flex layout-padding>
            <div ng-view class="view-animate"></div>
        </md-content>
    </section>

    <div>
        <md-fab-speed-dial md-open="ctrl.isOpen" md-direction="up" class="md-scale md-fab-bottom-right" ng-mouseenter="ctrl.isOpen=true" ng-mouseleave="ctrl.isOpen=false">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-icon md-svg-src="assets/images/money_white_24px.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Wallet" class="md-fab md-raised md-mini">
                    <md-icon md-svg-src="assets/images/wallet_black-18px.svg" aria-label="Wallet"></md-icon>
                </md-button>
                <md-button aria-label="Balance" class="md-fab md-raised md-mini">
                    <md-icon md-svg-src="assets/images/account_black-18px.svg" aria-label="Balance"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
    <script src="bundle.js"></script>
    <div ng-show="!ctrl.loading" class="main-loading" layout="column" layout-align="center center" ng-show="ctrl.loading">
            <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
    </div>        
</body>
 

</html>